## Base Type

In [66]:
a = 12
b = 14.0
c = True
d = "Words"
e = b"xfe\775" # We will get back here

print(type(a), type(b), type(c), type(d), type(e), e)

<class 'int'> <class 'float'> <class 'bool'> <class 'str'> <class 'bytes'> b'xfe\xfd'

<>:5: SyntaxWarning: invalid octal escape sequence '\775'
<>:5: SyntaxWarning: invalid octal escape sequence '\775'
/tmp/ipykernel_22467/1088540897.py:5: SyntaxWarning: invalid octal escape sequence '\775'
  e = b"xfe\775" # We will get back here

## Container Type

In [68]:
# Ordered sequences
x = [1,2,3] # mutable
y = (1,5,7) # immutable

# Key containers, no a priori order
xy = {"key", "value"} # dictionary
yx = {1,4,5,6} # set

px = {1: "one", 2: "Two"} # dictionary

In [69]:
xy, yx, px

({'key', 'value'}, {1, 4, 5, 6}, {1: 'one', 2: 'Two'})

## Variables assignment

In [1]:
import math
y = 1
x = 1.2 + 8 + math.sin(y)
x

10.041470984807896

In [2]:
a = b = c = 0
a,b,c

(0, 0, 0)

In [3]:
y, z, r = 5, 7.9, True
y, z, r

(5, 7.9, True)

In [4]:
a = 8
b = 7
a, b = b, a
a, b

(7, 8)

In [5]:
x = 9
x += 2
x

11

In [6]:
x -=3
x

8

In [7]:
x = None

In [8]:
del x

In [9]:
x

NameError: name 'x' is not defined

## Conversions

type(expression)

In [1]:
int("45")

45

In [3]:
int("3f", 16)

63

In [4]:
int(15.56)

15

In [5]:
float("-11.24e8")

-1124000000.0

In [9]:
round(15.56, 0), round(15.56, 1), round(15.56, 2)

(16.0, 15.6, 15.56)

In [12]:
x = 9
bool(x)

True

In [13]:
bool(None)

False

In [14]:
str(x)

'9'

In [15]:
chr(64)

'@'

In [22]:
for i in range(45, 100):
    print(i, chr(i))
print(type(chr(i)))

45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
<class 'str'>

In [24]:
type(repr(i))

str

In [26]:
bytes([72, 7, 64]), type(bytes([72, 7, 64]))

(b'H\x07@', bytes)

In [28]:
list("abcd"), type(list("abcd"))

(['a', 'b', 'c', 'd'], list)

In [29]:
dict([(1, 4), (2, 8)])

{1: 4, 2: 8}

In [51]:
complex_dict = dict([["hello", [[2,6],[4,[6,0]]]], ["hi", [[5,8], [6, [9, 0]]]], ("bye",{6,7,8,7})])
complex_dict

{'hello': [[2, 6], [4, [6, 0]]], 'hi': [[5, 8], [6, [9, 0]]], 'bye': {6, 7, 8}}

In [52]:
len(complex_dict)

3

In [53]:
set(complex_dict)

{'bye', 'hello', 'hi'}

In [54]:
"words with space".split()

['words', 'with', 'space']

In [55]:
type("words with space".split())

list

In [59]:
"1,2,3,4,5".split(",")

['1', '2', '3', '4', '5']

In [63]:
[int(float(x)) for x in {3.5,"5.6","6"}]

[5, 6, 3]

In [65]:
int(float(("6.7")))

6

## Sequence Containers Indexing

In [1]:
lst = [10, 20, 30, 40, 50]
lst

[10, 20, 30, 40, 50]

In [2]:
len(lst)

5

In [3]:
lst[0], lst[-1], lst[-5], lst[4]

(10, 50, 10, 50)

In [4]:
lst[-2], lst[1]

(40, 20)

In [5]:
lst[-3], lst[2]

(30, 30)

**Access to sub-sequencess via lst[start slice: end slice: step]**

In [7]:
lst[:-1]

[10, 20, 30, 40]

In [8]:
lst[1:-1]

[20, 30, 40]

In [9]:
lst[::2]

[10, 30, 50]

In [10]:
lst[::-1]

[50, 40, 30, 20, 10]

In [11]:
lst[::-2]

[50, 30, 10]

In [12]:
lst[:]

[10, 20, 30, 40, 50]

In [13]:
lst[1:3]

[20, 30]

In [14]:
lst[-3:-1]

[30, 40]

In [15]:
lst[:3]

[10, 20, 30]

In [16]:
lst[3:]

[40, 50]

**Modification and delete**

In [17]:
lst[0]=10.0
lst

[10.0, 20, 30, 40, 50]

In [18]:
del lst[0]
lst

[20, 30, 40, 50]

In [20]:
lst[0] = 10
lst

[10, 30, 40, 50]

In [21]:
lst[1:3] = [20, 30]
lst

[10, 20, 30, 50]

In [22]:
lst[-1] = 40
lst

[10, 20, 30, 40]

In [23]:
del lst[:]
lst

[]

In [27]:
len(lst)

0

## Boolean Logic

In [28]:
T = True
F = False

In [29]:
T and T

True

In [31]:
T or F

True

In [32]:
T and F

False

In [33]:
F or F

False

In [34]:
F and F

False

In [35]:
T or T

True

In [36]:
T or T == T and T

True

In [37]:
not F and T

True

## Conditional Statement

In [39]:
#if logical condition:
    # statement or expression or code blocks

age = 23
if age <= 18:
    state = "Kid"
elif age > 65:
    state = "Restricted"
else:
    state = "Active"

state

'Active'

## Maths

In [40]:
(1 + 5.3) * 2

12.6

In [41]:
abs(-3.2)

3.2

In [42]:
round(5.5)

6

In [43]:
round(5.67, 1)

5.7

In [44]:
pow(4,3)

64

In [45]:
4*4*4

64

In [46]:
# Modules
from math import sin, cos, pi, sqrt, log, ceil, floor

In [47]:
sin(pi/4)

0.7071067811865475

In [48]:
cos(2*pi/3)

-0.4999999999999998

In [50]:
sqrt(81)

9.0

In [53]:
import math
log(math.e**2)

2.0

In [54]:
ceil(12.5)

13

In [56]:
floor(14.5)

14

## Exceptions on error

In [57]:
try:
    x = 0/0
except Exception as e:
    print(e)

division by zero

In [58]:
try:
    x = y + 30
except Exception as e:
    print(e)

name 'y' is not defined

In [59]:
try:
    x = "Saim " + 30
except Exception as e:
    print(e)

can only concatenate str (not "int") to str

## Conditional Loop Statement

In [5]:
s = 0 
i = 1
while i <= 10:
    print(s, "+", i**2)
    s = s + i**2
    print("s =", s)
    i = i + 1
    
print("sum: ", s)

0 + 1
s = 1
1 + 4
s = 5
5 + 9
s = 14
14 + 16
s = 30
30 + 25
s = 55
55 + 36
s = 91
91 + 49
s = 140
140 + 64
s = 204
204 + 81
s = 285
285 + 100
s = 385
sum:  385

## Iterative Loop Statement

In [8]:
a = "Some text everywhere"
cnt = 0
for c in a:
    if c == 'e':
        cnt = cnt + 1
print("We found", cnt, "e.")

We found 6 e.

**Go over sequence index**

In [9]:
lst = [11, 18, 9, 12, 23, 4, 17]
lost = []
for idx in range(len(lst)):
    val = lst[idx]
    if val > 15:
        lost.append(val)
        lst[idx] = 15

print("modif:", lst, "-lost:", lost)

modif: [11, 15, 9, 12, 15, 4, 15] -lost: [18, 23, 17]

**Go simultaneously**

In [10]:
for idx, val in enumerate(lst):
    print(idx, ":", val)

0 : 11
1 : 15
2 : 9
3 : 12
4 : 15
5 : 4
6 : 15

## Integer Sequence

In [11]:
# range(start, end, step)
for i in range(2,15,2):
    print(i)

2
4
6
8
10
12
14

In [13]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [14]:
for i in range(2,15):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14

In [15]:
for i in range(0,15,2):
    print(i)

0
2
4
6
8
10
12
14

In [19]:
for i in range(len(lst)):
    print(i, lst[i])

0 11
1 15
2 9
3 12
4 15
5 4
6 15

## Display, Input

In [21]:
print(f"{val} <- variable and string, {12} <- number or {4 + 6 + val} <- expression")

15 <- variable and string, 12 <- number or 25 <- expression

In [28]:
print("Hello, everyone")
print("Saim Islam", "Yes", end="\n")
print("My name", sep=" ")
print("Yes, Saim Islam my name")

Hello, everyone
Saim Islam Yes
My name
Yes, Saim Islam my name

In [30]:
str = input("Enter anything will be string type: ")
print(str, type(str))

456 <class 'str'>

In [31]:
intg = int(input("String will be convert into integer / Only number string: "))
print(intg, type(intg))

67 <class 'int'>

## Generic Operation on Container

In [37]:
c = (7,1,3,4,5,6)

In [38]:
len(c)

6

In [39]:
min(c)

1

In [40]:
sorted(c)

[1, 3, 4, 5, 6, 7]

In [41]:
c

(7, 1, 3, 4, 5, 6)

In [42]:
val in c

False

In [43]:
7 in c

True

In [44]:
enumerate(c)

In [45]:
type(enumerate(c))

enumerate

In [50]:
c1 = c
c2 = (7,1,2,3,4,14)

In [51]:
c1, c2

((7, 1, 3, 4, 5, 6), (7, 1, 2, 3, 4, 14))

In [52]:
zip(c1, c2)

In [53]:
for i, j in zip(c1,c2):
    print(i, j)

7 7
1 1
3 2
4 3
5 4
6 14

In [54]:
all(c)

True

In [55]:
any(c)

True

In [56]:
c, reversed(c)

((7, 1, 3, 4, 5, 6), <reversed at 0x7d380c735750>)

In [57]:
c3 = reversed(c)
c3

In [ ]:
c, c*5

In [59]:
c+c2

(7, 1, 3, 4, 5, 6, 7, 1, 2, 3, 4, 14)

In [61]:
c.index(7)

0

In [62]:
c2.index(14)

5

In [63]:
c.count(14)

0

In [64]:
c2.count(14)

1

In [65]:
import copy

In [66]:
copy.copy(c)

(7, 1, 3, 4, 5, 6)

In [67]:
copy.deepcopy(c)

(7, 1, 3, 4, 5, 6)

## Operation on list

In [68]:
lst

[11, 15, 9, 12, 15, 4, 15]

In [69]:
lst.append(14)

In [70]:
lst

[11, 15, 9, 12, 15, 4, 15, 14]

In [71]:
lst.extend(c)

In [72]:
lst

[11, 15, 9, 12, 15, 4, 15, 14, 7, 1, 3, 4, 5, 6]

In [73]:
lst.insert(0, 22)
lst

[22, 11, 15, 9, 12, 15, 4, 15, 14, 7, 1, 3, 4, 5, 6]

In [74]:
lst.remove(15)

In [75]:
lst

[22, 11, 9, 12, 15, 4, 15, 14, 7, 1, 3, 4, 5, 6]

In [76]:
lst.pop(0)

22

In [77]:
lst

[11, 9, 12, 15, 4, 15, 14, 7, 1, 3, 4, 5, 6]

In [78]:
lst.sort()

In [79]:
lst

[1, 3, 4, 4, 5, 6, 7, 9, 11, 12, 14, 15, 15]

In [80]:
lst.reverse()

In [81]:
lst

[15, 15, 14, 12, 11, 9, 7, 6, 5, 4, 4, 3, 1]

## Operations on set

In [82]:
s1 = {2,5,6,7,8}
s2 = {3,5,3,2,1,4}

In [83]:
s2 | s2

{1, 2, 3, 4, 5}

In [84]:
s1 & s2

{2, 5}

In [85]:
s1 - s2

{6, 7, 8}

In [86]:
print(f"{s1} - {s2} = {s1 - s2}")

{2, 5, 6, 7, 8} - {1, 2, 3, 4, 5} = {8, 6, 7}

In [87]:
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [88]:
s1.add(9)

In [89]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [90]:
s1.remove(1)
s1

{2, 3, 4, 5, 6, 7, 8, 9}

In [91]:
s1.discard(5)
s1

{2, 3, 4, 6, 7, 8, 9}

In [92]:
s2.pop()
s2

{2, 3, 4, 5}

In [93]:
s2.clear()
s2

set()

## Operation on Dictionaries

In [98]:
d = {
    "id" : 0,
    "name" : "Saim Islam",
    "age" : 26,
    "Married" : False
}
d

{'id': 0, 'name': 'Saim Islam', 'age': 26, 'Married': False}

In [99]:
d["name"]

'Saim Islam'

In [100]:
d["Married"]

False

In [107]:
d1 = {
    "id" : 0,
    "life" : "Peaceful"
}

In [108]:
d1

{'id': 0, 'life': 'Peaceful'}

In [109]:
d.update(d1)
d

{'id': 0,
 'name': 'Saim Islam',
 'age': 26,
 'Married': False,
 'life': 'Peaceful'}

In [110]:
d.keys()

dict_keys(['id', 'name', 'age', 'Married', 'life'])

In [111]:
type(d.keys())

dict_keys

In [114]:
for i in d.keys():
    print(f"d[{i}]: {d[i]}")

d[id]: 0
d[name]: Saim Islam
d[age]: 26
d[Married]: False
d[life]: Peaceful

In [115]:
d.values()

dict_values([0, 'Saim Islam', 26, False, 'Peaceful'])

In [116]:
d.items()

dict_items([('id', 0), ('name', 'Saim Islam'), ('age', 26), ('Married', False), ('life', 'Peaceful')])

In [120]:
for i, j in d.items():
    print(f"d[{i}] = {j}")

d[id] = 0
d[name] = Saim Islam
d[age] = 26
d[Married] = False
d[life] = Peaceful

In [121]:
d.get("name")

'Saim Islam'

In [123]:
d.pop("id")

0

In [124]:
d

{'name': 'Saim Islam', 'age': 26, 'Married': False, 'life': 'Peaceful'}

In [126]:
d.popitem()
d

{'name': 'Saim Islam', 'age': 26, 'Married': False}

In [127]:
d.update(d1)

In [128]:
d

{'name': 'Saim Islam',
 'age': 26,
 'Married': False,
 'id': 0,
 'life': 'Peaceful'}

In [130]:
d.setdefault("id")

0

In [131]:
d

{'name': 'Saim Islam',
 'age': 26,
 'Married': False,
 'id': 0,
 'life': 'Peaceful'}

## Function Definition

In [132]:
def fnc():
    return

In [135]:
print(fnc())

None

In [136]:
def func(a,b):
    c = a + b
    return c

In [137]:
k = func(3,4)

In [138]:
k

7

In [143]:
def advance_func(a = 3, b = 5, *args):
    return a, b, args
# *sequence, **dictionary

In [144]:
advance_func(5,6,7,8,9)

(5, 6, (7, 8, 9))

## Files Handling

In [1]:
f = open("hello.txt", "w", encoding="utf8")
f

In [2]:
f.write("coucou")
f

In [3]:
f.close()

In [4]:
f

In [5]:
f.read()

ValueError: I/O operation on closed file.

In [6]:
f = open("hello.txt", "a", encoding="utf8")

In [9]:
f.write("Hello everything")

16

In [10]:
f.close()

In [16]:
f = open('hello.txt', "r", encoding="utf8")

In [17]:
f.read()

'coucouHello everythingHello everything'

In [18]:
f.read()

''

In [19]:
f.close()

## Operation on string

In [20]:
s = "https://saimislam.com"

In [26]:
s.startswith("k")

False

In [27]:
s.upper()

'HTTPS://SAIMISLAM.COM'

In [28]:
s

'https://saimislam.com'

In [29]:
s.casefold()

'https://saimislam.com'

In [37]:
s.encode()

b'https://saimislam.com'

In [38]:
s

'https://saimislam.com'

In [39]:
s.swapcase()

'HTTPS://SAIMISLAM.COM'

In [40]:
s.split('/')

['https:', '', 'saimislam.com']

In [41]:
s

'https://saimislam.com'

In [46]:
p = ''

In [47]:
p.join(s.split('/'))

'https:saimislam.com'

In [50]:
k = p.join([str(8), ' ', 'times!'])

In [51]:
k

'8 times!'