## Base Type

In [66]:
a = 12
b = 14.0
c = True
d = "Words"
e = b"xfe\775" # We will get back here

print(type(a), type(b), type(c), type(d), type(e), e)

<class 'int'> <class 'float'> <class 'bool'> <class 'str'> <class 'bytes'> b'xfe\xfd'

<>:5: SyntaxWarning: invalid octal escape sequence '\775'
<>:5: SyntaxWarning: invalid octal escape sequence '\775'
/tmp/ipykernel_22467/1088540897.py:5: SyntaxWarning: invalid octal escape sequence '\775'
  e = b"xfe\775" # We will get back here

## Container Type

In [68]:
# Ordered sequences
x = [1,2,3] # mutable
y = (1,5,7) # immutable

# Key containers, no a priori order
xy = {"key", "value"} # dictionary
yx = {1,4,5,6} # set

px = {1: "one", 2: "Two"} # dictionary

In [69]:
xy, yx, px

({'key', 'value'}, {1, 4, 5, 6}, {1: 'one', 2: 'Two'})

## Variables assignment

In [1]:
import math
y = 1
x = 1.2 + 8 + math.sin(y)
x

10.041470984807896

In [2]:
a = b = c = 0
a,b,c

(0, 0, 0)

In [3]:
y, z, r = 5, 7.9, True
y, z, r

(5, 7.9, True)

In [4]:
a = 8
b = 7
a, b = b, a
a, b

(7, 8)

In [5]:
x = 9
x += 2
x

11

In [6]:
x -=3
x

8

In [7]:
x = None

In [8]:
del x

In [9]:
x

NameError: name 'x' is not defined

## Conversions

type(expression)

In [1]:
int("45")

45

In [3]:
int("3f", 16)

63

In [4]:
int(15.56)

15

In [5]:
float("-11.24e8")

-1124000000.0

In [9]:
round(15.56, 0), round(15.56, 1), round(15.56, 2)

(16.0, 15.6, 15.56)

In [12]:
x = 9
bool(x)

True

In [13]:
bool(None)

False

In [14]:
str(x)

'9'

In [15]:
chr(64)

'@'

In [22]:
for i in range(45, 100):
    print(i, chr(i))
print(type(chr(i)))

45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
<class 'str'>

In [24]:
type(repr(i))

str

In [26]:
bytes([72, 7, 64]), type(bytes([72, 7, 64]))

(b'H\x07@', bytes)

In [28]:
list("abcd"), type(list("abcd"))

(['a', 'b', 'c', 'd'], list)

In [29]:
dict([(1, 4), (2, 8)])

{1: 4, 2: 8}

In [51]:
complex_dict = dict([["hello", [[2,6],[4,[6,0]]]], ["hi", [[5,8], [6, [9, 0]]]], ("bye",{6,7,8,7})])
complex_dict

{'hello': [[2, 6], [4, [6, 0]]], 'hi': [[5, 8], [6, [9, 0]]], 'bye': {6, 7, 8}}

In [52]:
len(complex_dict)

3

In [53]:
set(complex_dict)

{'bye', 'hello', 'hi'}

In [54]:
"words with space".split()

['words', 'with', 'space']

In [55]:
type("words with space".split())

list

In [59]:
"1,2,3,4,5".split(",")

['1', '2', '3', '4', '5']

In [63]:
[int(float(x)) for x in {3.5,"5.6","6"}]

[5, 6, 3]

In [65]:
int(float(("6.7")))

6

## Sequence Containers Indexing

In [1]:
lst = [10, 20, 30, 40, 50]
lst

[10, 20, 30, 40, 50]

In [2]:
len(lst)

5

In [3]:
lst[0], lst[-1], lst[-5], lst[4]

(10, 50, 10, 50)

In [4]:
lst[-2], lst[1]

(40, 20)

In [5]:
lst[-3], lst[2]

(30, 30)

**Access to sub-sequencess via lst[start slice: end slice: step]**

In [7]:
lst[:-1]

[10, 20, 30, 40]

In [8]:
lst[1:-1]

[20, 30, 40]

In [9]:
lst[::2]

[10, 30, 50]

In [10]:
lst[::-1]

[50, 40, 30, 20, 10]

In [11]:
lst[::-2]

[50, 30, 10]

In [12]:
lst[:]

[10, 20, 30, 40, 50]

In [13]:
lst[1:3]

[20, 30]

In [14]:
lst[-3:-1]

[30, 40]

In [15]:
lst[:3]

[10, 20, 30]

In [16]:
lst[3:]

[40, 50]

**Modification and delete**

In [17]:
lst[0]=10.0
lst

[10.0, 20, 30, 40, 50]

In [18]:
del lst[0]
lst

[20, 30, 40, 50]

In [20]:
lst[0] = 10
lst

[10, 30, 40, 50]

In [21]:
lst[1:3] = [20, 30]
lst

[10, 20, 30, 50]

In [22]:
lst[-1] = 40
lst

[10, 20, 30, 40]

In [23]:
del lst[:]
lst

[]

In [27]:
len(lst)

0

## Boolean Logic

In [28]:
T = True
F = False

In [29]:
T and T

True

In [31]:
T or F

True

In [32]:
T and F

False

In [33]:
F or F

False

In [34]:
F and F

False

In [35]:
T or T

True

In [36]:
T or T == T and T

True

In [37]:
not F and T

True

## Conditional Statement

In [39]:
#if logical condition:
    # statement or expression or code blocks

age = 23
if age <= 18:
    state = "Kid"
elif age > 65:
    state = "Restricted"
else:
    state = "Active"

state

'Active'

## Maths

In [40]:
(1 + 5.3) * 2

12.6

In [41]:
abs(-3.2)

3.2

In [42]:
round(5.5)

6

In [43]:
round(5.67, 1)

5.7

In [44]:
pow(4,3)

64

In [45]:
4*4*4

64

In [46]:
# Modules
from math import sin, cos, pi, sqrt, log, ceil, floor

In [47]:
sin(pi/4)

0.7071067811865475

In [48]:
cos(2*pi/3)

-0.4999999999999998

In [50]:
sqrt(81)

9.0

In [53]:
import math
log(math.e**2)

2.0

In [54]:
ceil(12.5)

13

In [56]:
floor(14.5)

14

## Exceptions on error

In [57]:
try:
    x = 0/0
except Exception as e:
    print(e)

division by zero

In [58]:
try:
    x = y + 30
except Exception as e:
    print(e)

name 'y' is not defined

In [59]:
try:
    x = "Saim " + 30
except Exception as e:
    print(e)

can only concatenate str (not "int") to str